---
import Tag from './Tag.astro'
const { data, url } = Astro.props;
console.log(data.alt);
---

<a href={`${url}`} class='bg-gradient-to-br from-background to-secondary rounded-lg w-[312px] mx-auto items-start flex flex-col gap-4 drop-shadow-none hover:scale-110 ease-linear duration-100'>
  <img class="rounded-t-lg w-[312px] h-[175.5px]" src={data.img} alt={data.alt}/>
  <div class="text-start px-6 pb-4 flex flex-col justify-between">
    <div class="grid gap-4">
      <h1 class="capitalize text-xl">{data.title}</h1>
      <p class="text-sm capitalize text-text2">{data.description}</p>
    </div>
    <div class="tags overflow-y-scroll">
      {data.tags.map((tag: string) =>
        <Tag name={tag}/>
      )}
    </div>
  </div>
</a>
