---
import { orderPages } from "../utils/index.js";
import { getCollection } from 'astro:content';
interface Props {
  course: any,
}
const { course } = Astro.props;
const path = Astro.url.pathname;
const slug = path.split("/")[4];
const pages = await getCollection(course);
const orderedPages = orderPages(pages, {
  filterOutDrafts: true,
  sortByOrder: true,
});
---

<nav class="flex flex-wrap gap-4 pb-10 px-12">
  {orderedPages?.map((page: any, index: number) =>
    <div class={`w-fit flex gap-2 items-center px-2 rounded-lg bg-secondary border-2 ${slug === page.slug ? "border-primary" : "border-accent"}`}>
      <a class="text-base flex gap-1 flex-nowrap" href={`/courses/${page.data.lang}/${page.data.course}/${page.slug}`}>
        <span class={`flex flex-nowrap ${slug === page.slug ? "text-primary" : "text-text2"}`}>
          {index < 10 ?<p>0</p>:<></>}
          {index}: {page.data.title}</span>
      </a>
    </div>
  )}
</nav>