---
import { orderPages } from "../utils/index.js";
import { getCollection } from 'astro:content';
interface Props {
  course: any,
}
const { course } = Astro.props;
const path = Astro.url.pathname;
const slug = path.split("/")[4];
const pages = await getCollection(course);
const orderedPages = orderPages(pages, {
  filterOutDrafts: true,
  sortByOrder: true,
});
---

<nav class="flex flex-wrap gap-4 pb-10">
  {orderedPages?.map((page: any, index: number) =>
    <div class={`w-fit flex gap-2 items-center px-2 rounded-lg bg-accent dark:bg-darkaccent ${slug === page.slug ? "bg-primary dark:bg-darkprimary" : ""}`}>
      <a class="text-base flex gap-1 flex-nowrap" target="_self" href={`/courses/${page.data.lang}/${page.data.course}/${page.slug}`}>
        <span class={`flex flex-nowrap ${slug === page.slug ? "text-background dark:text-darkbackground" : "text-text2 dark:dark-text2"}`}>
          {index < 10 ?<span class={`${slug === page.slug ? "text-background dark:text-darkbackground" : "text-text2 dark:dark-text2"}`}>0</span>:<></>}
          {index}: {page.data.title}</span>
      </a>
    </div>
  )}
</nav>