---
import { orderPages } from "../utils/index.js";
import { getCollection } from 'astro:content';
interface Props {
  course: any,
}
const { course } = Astro.props;
const pages = await getCollection(course);
const orderedPages = orderPages(pages, {
  filterOutDrafts: true,
  sortByOrder: true,
});
---

<div class="flex flex-wrap gap-2 mb-10 justify-start">
  {orderedPages?.map((page: any, index: number) =>
    <div class="text-lg flex gap-2 flex-nowrap">
      {index < 10 ?
        <span class="text-text2"> 0{index}:</span>
      :
        <span class="text-text2">{index}:</span>
      }
      <a class="flex gap-4 text-primary" href={`/courses/${page.data.lang}/${page.data.course}/${page.slug}`}>{page.data.title}</a>
    </div>
  )}
</div>