---
// components
import Layout from './Layout.astro';
import Head from '../components/Head.astro'
import Window from '../components/Window.astro';

// utils
const { frontmatter } = Astro.props;
---

<Head title={frontmatter.title} description={frontmatter.description}/>

<Layout>
  <main class="grid justify-center pb-20 pt-10">
    <header class="grid max-w-2xl w-full text-center items-start mx-auto gap-4 p-6 mb-10 ">
      <Window width="w-fit">
        <h2 class="capitalize">{frontmatter.title}</h2>
        <h4>{frontmatter.description}</h4>
        <p class="text-text2">{frontmatter.subdescription}</p>
      </Window>
    </header>
    <article>
      <div class="prose">
        <slot/>
      </div>
    </article>
  </main>
</Layout>
