---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Head from '../components/Head.astro';
import { title, description } from '../utils/config';
import '../styles/global.css';
const currentPath = Astro.url.pathname;
---

<!doctype html>
<html lang="en">
  <Head title={title} description={description}/>
	<body class="flex flex-col justify-between">
    <div class="flex flex-col justify-start">
      <Header title={title} path={currentPath}/>
      <main class="px-6 flex flex-col items-center h-full">
        <slot/>
      </main>
    </div>
    <Footer title={title}/>
	</body>
</html>