---
import '../styles/global.css';
import Navbar from '../components/Navbar.astro';
import Layout from './Layout.astro';

const { title, description, section, course } = Astro.props;
---

<Layout title={title} description={description} section={section}>
  <Navbar course={course} />
  <h1 class="capitalize">{title}</h1>
  <h2 class="font-[500] text-xl md:text-2xl text-text2 dark:text-darktext2">{description}</h2>
  <div class="border-b-2 border-accent dark:border-darkaccent my-4 border-dashed"></div>
  <div class="prose">
    <slot />
  </div>
</Layout>