---
// components
import Layout from './Layout.astro';
import Head from '../components/Head.astro'
import Navbar from '../components/Navbar.astro';

// utils
const { frontmatter } = Astro.props;
---

<Head title={frontmatter.title} description={frontmatter.description}/>

<Layout>
  <article >
    <Navbar course={frontmatter.course} />
    <hgroup>
      <h1 class="capitalize font-rubik font-[800]">{frontmatter.title}</h1>
      <h3 class="text-text">{frontmatter.description}</h3>
      <div class="tags overflow-y-scroll">
      {frontmatter.tags.map((tag: string) =>
          <span class="tag">#{tag}</span>
          )}
      </div>
    </hgroup>
    <div class="prose">
      <slot/>
    </div>
  </article>
</Layout>
