---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Head from '../components/Head.astro';
import '../styles/global.css';
const currentPath = Astro.url.pathname;
// components
import Navbar from '../components/Navbar.astro';

// utils
const { frontmatter } = Astro.props;
---

<!doctype html>
<html lang="en">
  <Head title={frontmatter.title} description={frontmatter.description} section={frontmatter.course}/>
	<body class="flex flex-col justify-between">
    <main class="flex flex-col justify-start">
      <Header title={frontmatter.title} path={currentPath}/>
      <article class="grid items-center h-full pb-16">
        <Navbar course={frontmatter.course} />
        <div class="mx-12">
          <h1 class="capitalize text-primary">{frontmatter.title}</h1>
          <h2 class="font-[300] text-xl md:text-2xl">{frontmatter.description}</h2>
          <div class="border-b-2 border-secondary my-4 border-dashed"></div>
        </div>
        <div class="prose">
          <slot/>
        </div>
      </article>
    </main>
    <Footer title="PerfectLine"/>
	</body>
</html>
