---
// Utils
import { formatCourses } from "../../utils/index.js";
import { getCollection } from 'astro:content';

// Components
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import Title from "../../components/Title.astro";

const allCourses = await getCollection('courses');

const formattedCourses = formatCourses(allCourses, "all", {
  filterOutDrafts: true,
  filterOutTags: false,
  sortByOrder: true,
});

const title = "Courses";
const description = "A List of Courses We Offer"
---

<Layout title={title} description={description}>
  <main class="grid justify-center pb-20">
    <Title description={title} subdescription={description}/>
    <div class="flex flex-col items-start justify-around gap-6">
      {formattedCourses.map((course:any) =>
        <Card data={ course.data } url={`/courses/${course.data.lang}/${course.data.course}/intro`}/>
      )}
    </div>
  </main>
</Layout>
