---
// Utils
import { formatCourses } from "../../utils/index.js";
import { getCollection } from 'astro:content';

// Components
import Layout from "../../layouts/Layout.astro";
import Card from "../../components/Card.astro";
import Title from "../../components/Title.astro";
import CourseLayout from "../../layouts/CourseLayout.astro";

const allCourses = await getCollection('courses');

const formattedCourses = formatCourses(allCourses, "all", {
  filterOutDrafts: true,
  filterOutTags: false,
  sortByOrder: true,
});

const title = "Courses";
const description = "A List of Courses We Offer"
---

<CourseLayout title={title} description={description}>
  <div class="mx-auto text-center">
    <Title description={title} subdescription={description}/>
  </div>
  <div class="flex flex-wrap max-w-7xl w-full justify-center items-start gap-6">
    {formattedCourses.map((course:any) =>
      <Card data={ course.data } url={`/courses/${course.data.lang}/${course.data.course}/intro`}/>
    )}
  </div>
</CourseLayout>
